@counter-style jojo-random-counter {
    system: numeric;
    symbols: "ÿ" "ä" "ë" "ï" "ö" "ü";
    suffix: ". ";
    negative: "(" ")";
}

@counter-style shadok-letters-counter {
    system: numeric;
    symbols: "ga" "bu" "zo" "meu";
    suffix: ". ";
    negative: "~";
}

@counter-style shadok-digits-counter {
    system: numeric;
    symbols: "O" "−" "ᒧ" "◿";
    suffix: ". ";
    negative: "~";
}

@counter-style e-trema-counter {
    system: cyclic;
    symbols: "(ë)";
    suffix: " ";
}

span.oeuf_jojo ol {
  list-style: shadok-digits-counter;
}

span.oeuf_jojo ul {
  list-style: e-trema-counter;
}
