---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body, h1, h2, h3, h4, h5, h6, strong, th, dt {
  font-family: 'IBM Plex Sans', 'Ubuntu', Tahoma, Verdana, sans-serif !important;
}

#header nav li {
  font-family: 'IBM Plex Sans', 'Ubuntu', Tahoma, Verdana, sans-serif !important;
}

section #title h1 {
  font-family: 'IBM Plex Sans', 'Ubuntu', Tahoma, Verdana, sans-serif !important;
}

section #title p {
  font-family: 'IBM Plex Sans', 'Ubuntu', Tahoma, Verdana, sans-serif !important;
}

section #title .credits {
  font-family: 'IBM Plex Sans', 'Ubuntu', Tahoma, Verdana, sans-serif !important;
}
